@use "colors" as *;

.zoom-img {
	cursor: zoom-in;
	transform: scale(1.5);
}

//product
.sproduct {
	position: relative;
	margin-top: 80px;

	&__box {
		display: flex;
		flex-direction: column;
		max-width: 400px;
		margin: auto;

		.product-img {
			width: 100%;
		}
		.images {
			display: flex;
			justify-content: space-between;
			.small-img {
				width: 100px;
				cursor: pointer;
			}
		}
		.sproduct-details {
			padding: 1em;
			.select-size {
				display: block;
				padding: 5px 10px;
				margin: 1em 0;
			}
			input {
				width: 50px;
				height: 40px;
				font-size: 2rem;
				padding-left: 0.5em;
				margin-bottom: 0.5em;
			}
			input:focus {
				outline: none;
			}
			.product-title{
				margin-bottom: 0.5em;
			}
		
		}
		.sproduct-buy {
			width: 100%;
			padding: 1em 2em;
			margin: 1em;
			align-self: center;
			background-color: $light-green;
			border-radius: 5px;
		}
	}
}
// media
@media (min-width: 576px) {
}

@media (min-width: 768px) {
	.sproduct {
		&__box {
			position: relative;
			display: flex;
			flex-direction: row;
			margin: 0;
			max-width: 100%;
		}
		.sproduct-details {
			padding: 3em;
		}
		.sproduct-buy {
			position: absolute;
			top: 400px;
			left: 340px;
			width: 50%;
		}
	}
}

@media (min-width: 992px) {
	.sproduct {
		&__box {
			max-width: 80%;
		}
		.sproduct-details {
			padding: 3em;
		}
		.sproduct-buy {
			top: 350px;
			left: 340px;
		}
	}

}
