@use "./colors" as *;
// Shop Content
.shop {
	margin-top: 80px;
}
#search-container {
	display: flex;
	margin-bottom: 1em;

	#search-input {
		display: flex;
		padding: 1em;
		border: 1px solid $dark-green;
		border-right: none;
	}
	#search {
		display: flex;
		padding: 1.5em;
		background-color: $light-green;
		border: 1px solid $dark-green;
	}
}
.shop-container {
	display: flex;

	.filter {
		width: 20%;
		display: flex;
		flex-direction: column;

		.buttons-box {
			display: flex;
			flex-direction: column;

			.button-value {
				font-size: 1.5rem;
				font-weight: 600;
				margin: 0.2em;
				padding: 1em;
				text-align: left;
				border: 1px solid $dark-green;
				border-radius: 5px;
				cursor: pointer;
			}
			.button-value:hover {
				background-color: $light-green;
			}
		}
	}
	.shop-content {
		width: 80%;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(180px, auto));
		gap: 1.5rem;
	}
}

.hide {
	display: none;
}

.product {
	&-box {
		position: relative;
		transition: padding 0.4s, border 0.4s;
	}

	&-img {
		height: 280px;
		width: 100%;
		margin-bottom: 0.5rem;
	}
	&-img:hover {
		padding: 10px;
		border: 1px solid black;
	}
	&-title {
		font-size: 1.1rem;
		font-weight: 600;
		text-transform: uppercase;
		margin-bottom: 0.5rem;
	}
	&-price {
		font-weight: 600;
	}
	&-add-cart {
		position: absolute;
		bottom: 0;
		right: 0;
		background: black;
		color: white;
		padding: 10px;
		cursor: pointer;
	}
	&-add-cart:hover {
		background: hsl(152, 33%, 17%);
	}
}

